body {
  background-color: #1C1B1D;
  margin: 0;
}

@font-face {
  font-family: codeBold;
  src: url("../fonts/CODE\ Bold.otf") format("opentype");
}

@font-face {
  font-family: codeLight;
  src: url("../fonts/CODE\ Light.otf") format("opentype");
}

.code-bold {
  font-family: codeBold;
}

.code-light {
  font-family: codeLight;
}

.grid {
  display: grid;
  grid-template-columns: 80% 20%;
}

/* ---------------------------------------------------------- */
/* POSITION */
.center {
  display: flex;
  justify-content: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

/* ---------------------------------------------------------- */

/* ---------------------------------------------------------- */
/* TITULO PRINCIPAL */

.blur[contenteditable] {
  outline: none;
}

.blur-text {
  padding: 3% 3% 0 3%;
  font-size: 12em;
}

.blur-01 {
  color: hsla(0,0%,0%,0);
  text-shadow: #fff 0 0 60px;
  transition: text-shadow 2s cubic-bezier(0, 1, 0, 1);
  z-index: 1000;
}

.blur-02 {
  color: hsla(0,0%,0%,0);
  text-shadow: black 0 0 60px;
  transition: text-shadow 2s cubic-bezier(0, 1, 0, 1);
  z-index: 1000;
}
@-moz-document url-prefix() { .blur-01 { text-shadow: #fff 0 0 20px; } } /* FF fix */

.blur-text:hover .blur-01 {
  text-shadow: #fff 0 0 1px;
  transition: text-shadow 1s cubic-bezier(0, 0.75, 0, 1);
}

.blur-text:hover .blur-02 {
  text-shadow: black 0 0 1px;
  transition: text-shadow 1s cubic-bezier(0, 0.75, 0, 1);
}

.♥ {
  margin: 0 10px;
  color: hsla(0,0%,0%,0);
  text-shadow: black 0 0 1px;
  transition: text-shadow 1s cubic-bezier(0, 1, 0, 1);
  z-index: 1000;
}

.blur-text:hover .♥ {
  text-shadow: black 0 0 100px;
  transition: text-shadow 2s cubic-bezier(0, 0.75, 0, 1);
}
@-moz-document url-prefix() { .blur-text:hover .♥ { text-shadow: black 0 0 20px; } } /* FF fix */

.box-01 {
  left: -6%;
  width: 110%;
  height: 38%;
  background-color: #300163;
  transform: skew(20deg);
  position: absolute;
  z-index: 0;
}

.box-02 {
  left: 47%;
  width: 45%;
  height: 38%;
  background-color: #fff;
  transform: skew(20deg);
  position: absolute;
  z-index: 0;
}

.box-03 {
  top: 38%;
  left: -6%;
  width: 110%;
  height: 38%;
  background-color: #300163;
  transform: skew(20deg);
  position: absolute;
  z-index: 0;
}

.box-04 {
  top: 38%;
  left: 51.5%;
  width: 45%;
  height: 38%;
  background-color: #fff;
  transform: skew(20deg);
  position: absolute;
  z-index: 0;
}

/* ---------------------------------------------------------- */

/* ---------------------------------------------------------- */
/* SOFTWARE INFO DATE */

.sw-margin {
  margin-right: 3%;
}

.sw-date {
  font-size: 6em;
  font-weight: bold;
  color: #300163;
  text-shadow: 6px 5px 0px rgba(255, 255, 255, 1);
}

/* ---------------------------------------------------------- */

/* ---------------------------------------------------------- */
/* GUSTAVO VELASQUEZ */

.center-vertical {
  align-items: center;
  font-size: 6em;
  color: #0FC66A;
}

/* ---------------------------------------------------------- */

/* ---------------------------------------------------------- */
/* DIRECCION */

.sw-address {
  color: #300163;
  font-size: 4em;
}

/* ---------------------------------------------------------- */
/* REDES SOCIALES */

.icon {
  position: relative;
  height: 75px;
  width: 75px;
  transition: all 0.5s;
}

svg {
  height: 100%;
  width: 100%;
}

.icon-10 {
  fill: #300163;
}
.icon-10:hover {
  border: 3px solid white;
  box-shadow: 0 0 0.75rem #300163;
  border-radius: 100%;
  fill: white;
  stroke: #300163;
  filter: drop-shadow(0 0 0.75rem #300163);
  transform: scale(1.25);
  transition: background-color 0.5s, transform 0.5s ease-out;
}
