@font-face {
  font-family: codeBold;
  src: url("../fonts/CODE\ Bold.otf") format("opentype");
}

@font-face {
  font-family: codeLight;
  src: url("../fonts/CODE\ Light.otf") format("opentype");
}

.code-bold {
  font-family: codeBold;
}

.code-light {
  font-family: codeLight;
}

.sw-padding {
  padding-top: 3%;
}

/* ---------------------------------------------------------- */
/* POSITION */
.center {
  display: flex;
  justify-content: center;
}

/* ---------------------------------------------------------- */

/* ---------------------------------------------------------- */
/* TITULO PRINCIPAL */

.blur-text {
  padding: 3% 3% 0 3%;
  font-size: 12em;
}

.blur-01 {
  color: hsla(0,0%,0%,0);
  text-shadow: #fff 0 0 32px;
  transition: text-shadow 2s cubic-bezier(0, 1, 0, 1);
  z-index: 500;
}

.blur-02 {
  color: hsla(0,0%,0%,0);
  text-shadow: black 0 0 32px;
  transition: text-shadow 2s cubic-bezier(0, 1, 0, 1);
  z-index: 500;
}
@-moz-document url-prefix() { .blur-01 { text-shadow: #fff 0 0 20px; } } /* FF fix */

.blur-text:hover .blur-01 {
  text-shadow: #fff 0 0 1px;
  transition: text-shadow 1s cubic-bezier(0, 0.75, 0, 1);
}

.blur-text:hover .blur-02 {
  text-shadow: black 0 0 1px;
  transition: text-shadow 1s cubic-bezier(0, 0.75, 0, 1);
}

.♥ {
  margin: 0 10px;
  color: hsla(0,0%,0%,0);
  text-shadow: black 0 0 1px;
  transition: text-shadow 1s cubic-bezier(0, 1, 0, 1);
  z-index: 500;
}

.blur-text:hover .♥ {
  text-shadow: black 0 0 32px;
  transition: text-shadow 2s cubic-bezier(0, 0.75, 0, 1);
}
@-moz-document url-prefix() { .blur-text:hover .♥ { text-shadow: black 0 0 20px; } } /* FF fix */

.sw-logo-carrera {
  width: 50%;
  height: 50%;
}

/* ---------------------------------------------------------- */

/* ---------------------------------------------------------- */
/* SOFTWARE INFO DATE */

.sw-date {
  font-weight: bold;
  color: #300163;
  text-shadow: 6px 5px 0px rgba(255, 255, 255, 1);
  position: relative;
  z-index: 500;
}

.txt-2019 { font-size:12em; }
.txt-17-ene { font-size:6em; }
.txt-19 { font-size:9em; }

/* ---------------------------------------------------------- */

/* ---------------------------------------------------------- */
/* CRONOGRAMA */

.sw-crono {
  font-weight: bold;
  color: white;
  text-shadow: 6px 5px 0px #0FC66A;
  position: relative;
  z-index: 500;
}

.txt-crono { font-size: 12em; }


/* ---------------------------------------------------------- */

/* ---------------------------------------------------------- */
/* ORQUESTA INVITADA */

.logo-tropicana {
  width: 70%;
  height: 70%;
  position: relative;
  z-index: 500;
}

/* ---------------------------------------------------------- */
/* GUSTAVO VELASQUEZ */

.txt-gustavo {
  color: #0FC66A;
  font-size: 6em;
}

.txt-gustavo-desc {
  color: white;
  font-size: 2.5em;
  padding-left: 3%;
  text-align: justify;
}

.bg-artist {
  background: #300163;
}

.fixed-row {
  margin-right: 0px;
  margin-left: 0px;
}

.fixed-col {
  padding-left: 0px;
  padding-right: 0px;
}

.img-gustavo {
  width: 100%;
  height: 100%;
  z-index: 500;
}

/* ---------------------------------------------------------- */

/* ---------------------------------------------------------- */
/* DIRECCION */

.sw-address {
  color: #300163;
  font-size: 4em;
}

/* ---------------------------------------------------------- */
/* REDES SOCIALES */

.txt-tropicana {
  color: #0FC66A;
  font-size: 3em;
}

.txt-gustavo-vel {
  color: red;
  font-size: 3em;
}

/* ---------------------------------------------------------- */
/* TEMPORIZADOR */

.txt-tempo { font-size: 10em; }

.textDiv_Days, .textDiv_Hours,
.textDiv_Minutes, .textDiv_Seconds {
  color: white;
}

/* ---------------------------------------------------------- */
/* RESPONSIVE DESIGN */

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
  */

  @media (min-width: 1281px) {
  
  
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .blur-text {
    font-size: 9em;
    padding: 6% 3% 0 3%;
  }

  .header {
    padding-bottom: 6%;
  }

  .txt-2019 { font-size: 13em; }
  .txt-17-ene { font-size: 5em; }
  .txt-crono { font-size: 6em; }

  .logo-tropicana {
    width: 95%;
    height: 95%;
  }

  .txt-tempo { font-size: 6em; }
  .img-gustavo {
    width: 50%;
    height: 50%;
  }
  .txt-gustavo { font-size: 5em; }
  .txt-gustavo-desc { padding-right: 3%; }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .blur-text {
    font-size: 9em;
    padding: 6% 3% 0 3%;
  }

  .header { padding-bottom: 6%; }

  .sw-logo-carrera {
    width: 60%;
    height: 60%;
  }

  .txt-2019 { font-size: 13em; }
  .txt-17-ene { font-size: 5em; }
  .txt-crono { font-size: 7em; }

  .logo-tropicana {
    width: 95%;
    height: 95%;
  }

  .txt-gustavo { font-size: 5em; }
  
  .img-gustavo {
    width: 50%;
    height: 50%;
  }

  .txt-tempo { font-size: 6em; }
  .txt-gustavo-desc {
    padding-right: 3%;
  }

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .blur-text {
    padding: 6% 3% 0 3%;
    font-size: 7em;
  }

  .header { padding-bottom: 6%; }

  .sw-logo-carrera {
    width: 80%;
    height: 80%;
  }

  .txt-2019 { font-size: 15em; }
  .txt-17-ene { font-size: 4em; }
  .txt-19 { font-size: 8em; }
  .txt-crono { font-size: 6em; }

  .logo-tropicana {
    width: 90%;
    height: 90%;
  }

  .txt-gustavo { font-size: 4em; }
  
  .img-gustavo {
    width: 50%;
    height: 50%;
  }

  .txt-tempo { font-size: 4em; }

  .txt-tropicana { font-size: 2em; }
  .txt-gustavo-vel { font-size: 2em; }
  .txt-gustavo-desc {
    font-size: 1.8em;
    padding-right: 3%;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .blur-text {
    padding: 20% 3% 0 3%;
    font-size: 4em;
  }

  .header { padding-bottom: 20%; }

  .sw-logo-carrera {
    width: 90%;
    height: 90%;
  }

  .sw-date {
    position: relative;
    z-index: 500;
  }

  .txt-2019 { font-size: 10em; }
  .txt-17-ene { font-size: 2.5em; }
  .txt-19 { font-size: 4em; }
  .txt-crono { font-size: 3em; }

  .logo-tropicana {
    width: 95%;
    height: 95%;
  }

  .txt-gustavo { font-size: 2.4em; }

  .img-gustavo {
    width: 50%;
    height: 50%;
  }

  .sw-address { font-size: 2em; }

  .txt-tempo { font-size: 2.5em; }

  .txt-tropicana { font-size: 2em; }
  .txt-gustavo-vel { font-size: 2em; }
  .txt-gustavo-desc {
    font-size: 1.6em;
    padding-right: 3%;
  }

}

/* 
  ##Device = iPhone 5/5S (Portrait)
  ##Screen = B/w 320px to 568px
*/

@media (device-height : 568px)
  and (device-width : 320px)
  and (-webkit-min-device-pixel-ratio: 2) {
    
    .blur-text { font-size: 3.5em; }
    .txt-17-ene { font-size: 2.3em; }
    .txt-19 { font-size: 3.6em; }
    .txt-gustavo { font-size: 2.2em; }
    .txt-tropicana { font-size: 1.5em; }
    .txt-gustavo-vel { font-size: 1.5em; }
    .txt-gustavo-desc { font-size: 1.4em; }
}

/* 
  ##Device = iPhone 5/5S (Landscape)
  ##Screen = B/w 320px to 568px
*/

@media (device-height : 320px)
  and (device-width : 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation : landscape) {
    
    .blur-text { 
      padding: 8% 3% 0 3%;
      font-size: 6em;
    }
    .txt-19 { font-size: 7em; }
    .txt-crono { font-size: 5em; }
    .sw-address { font-size: 3.5em; }
}


/* TODO: Corregir la visualización */





.box-03 {
  width: 45%;
  height: 0;
  border-left: 90px solid transparent;
  border-top: 235px solid white;
  right: 0;
  top: 235px;
  position: absolute;
  z-index: 0;
}

/* TODO: Corregir la visualización */


.box-04 {
  width: 40%;
  height: 0;
  border-left: 90px solid transparent;
  border-top: 278px solid #0FC66A;
  right: 0;
  top: 470px;
  position: absolute;
  z-index: 0;
}

.box-05 {
  width: 100%;
  height: 748px;
  background-color: #0FC66A;
  position: absolute;
  top: 748px;
  z-index: 0;
}


.box-06 {
  width: 84.5%;
  height: 0;
  border-left: 190px solid transparent;
  border-top: 440px solid white;
  right: 0;
  top: 1132px;
  position: absolute;
  z-index: 0;
}
.box-07 {
  width: 9%;
  height: 0;
  border-right: 120 px solid transparent;
  border-bottom: 300px solid #300163;
  top: 1547px;
  position: absolute;
  z-index: 0;
}
